<div id = "landingpage"> 
  <%= form_for("/home", method: "get", :controller => "ageverify",:html => {:class => "form-group"}) do %>
  <%= select_month(Time.now)%>
  <%= select_day(Time.now)%>
  <%= select_year(Date.today, start_year: 1910, end_year:2015)%>
  <%= submit_tag("Submit", id: "sub") %>
  <% end %>
  <div>
  <%= image_tag ("Find-Us-Arrow-compressor.png"),:class => "arrow-right" %>
  </div>

  <div class = "formlayout">
    <h2> MM | DD | YYYY </h2>
  </div>
</div>

  