  <nav class="navbar navbar-default" role="navigation">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("Logo-compressor.png"),  root_path, :id => "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <!-- cocktail dropdown menu -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">COCKTAILS <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="honeybee"><%= link_to "HONEY BEE", honeybee_path %></li>
            <li class="lemondrop"><%= link_to "LEMON DROP", lemondrop_path %></li>
          </ul>
        </li>
        <!-- other nav items -->
        <li class="recipes"> <%= link_to "RECIPES", recipes_path %></li>
        <li class="events"><%= link_to "EVENTS & NEWS", events_path %> </li>
        <li class="meetcandy"><%=link_to "MEET CANDY", meetcandy_path %> </li>
        <li class="findus"><%= link_to "FIND US", findus_path %> </li>
        <li class="contactus"><%= link_to "CONTACT US", contactus_path %> </li>
      </ul>
     </div>   
  </nav>