<div class = "container-fluid" id="contactusbackground">
  <%= render "shared/navbar" %>
  <div class="container-fluid" id ="contactusid">
    <div id ="contactus">
      <h3 id ="contacth">Contact Us</h3>
      <p id ="contactp"> Hi! Please contact us so we can send you invitations to our events and tastings. It's a pleasure to meet you! <br>Much love.</p>
      <%= image_tag("Contact Us Signature.png", :id =>"contactsig") %>
      <%= form_tag do %>
          <%= text_field_tag('name', nil, class: 'form-control', placeholder: 'NAME') %>
      <br>
      <%= text_field_tag('emailaddress',nil,class:'form-control',placeholder:'EMAIL ADDRESS')%>
      <br>
      <%= text_area_tag('comments',nil,class:'form-control',placeholder:'COMMENTS',size:'15x4') %>
      <% end %>
      <%= image_tag("Contact Us Bottles.png", :id=>"contactbot") %>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>